* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
li {
  display: flex;
  line-height: 20px;
}

li span {
  padding: 5px 0px;
}
.user_name {
  display: flex;
  color: rgb(255, 255, 255);
  border-radius: 6px;
  background-color: rgb(92, 94, 94);
  padding: 5px;
}
nav {
  max-width: 1000px;
  width: auto;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  border-bottom: 2px solid #e1e1e1;
}
nav a {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(112, 67, 71);
}

.wrapper {
  background-image: url("./bg4.webp");
  /* background-color: aliceblue; */
  max-width: 1000px;
  height: 70vh;
  width: auto;
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 5px;
  overflow-y: auto;
}

.message-list {
  display: flex;
  flex-direction: column;
}
.wrapper ul {
  list-style: none;
}
ul .right {
  justify-content: end;
  text-align: end;
}
.right span {
  max-width: 65%;
  background-color: darkgray;
}
.wrapper ul li {
  padding: 0.1rem;
  border-radius: 30px 0px 30px 30px;
}
.left {
  background-color: #dac4c4;
  max-width: 60%;
}
.wrapper ul li span {
  font-weight: bold;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 10px;
}

form {
  max-width: 1000px;
  width: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form input {
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid rgb(81, 105, 84);
  border-radius: 10px;
  outline: none;
}
form input[type="text"] {
  width: 80%;
}
form input[type="submit"] {
  width: 18%;
  cursor: pointer;
}

@media (max-width: 600px) {
  .right{

  }
  .wrapper {
    width: auto;
    margin: 0.1rem auto;
    padding: 0.1rem;
    border-radius: 2px;
    overflow-y: auto;
  }
  .user_name {
    padding: 3px;
  }
  li {
    font-size: smaller;
  }
  .wrapper ul li span {
    padding: 5px 7px 0px 3px;
    margin-right: 6px;
    border-radius: 7px;
  }

  nav {
    padding: 0.5rem;
    border-bottom: 1px solid #e1e1e1;
  }
  nav a {
    font-size: 0.8;
  }
  form input {
    padding: 0.5rem;
    font-size: 0.8rem;
    border: 1px solid rgb(81, 105, 84);
    border-radius: 10px;
  }
}
